/*TODO: 
-change the background color to something softer,
-the white text is too harsh and the black is too contrasted */

:root {
  /* Backgrounds */
  --bg: #0f0f0f; /*#0b1220;        /* soft dark navy */
  /*--surface: #111a2e;   /* cards / panels */

  /* Text */
  --text: #ccc;/*#dce1e9;      /* soft white */
  /*-muted: #a8b3c7;     /* secondary text */

  /* Borders */
  /*--border: #1f2a44;    /* subtle separation */

  /* Accent (your constellation blue) */
  --accent: #ff8000;/*#6bb6ff;
  --accent-hover: #89c8ff;*/
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Nunita', sans-serif;
}


main {
  max-width: 48rem; /* same as max-w-3xl */
  margin-left: auto;  /* mx-auto */
  margin-right: auto; /* mx-auto */
  padding: 1.5rem;    /* p-6 */
}